@using static Science.City.EF.Service.Helpers.Common;
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
	<link href="@Url.Content("~/css/jquery.mCustomScrollbar.css")" rel="stylesheet" />
	<link href="@Url.Content("~/css/sidebar-menu.css")" rel="stylesheet" />
	<link rel="stylesheet" href="@Url.Content(string.Format("~/css/layout.css?v={0}",DateTime.Now.Ticks))">
	<link rel="stylesheet" href="@Url.Content(string.Format("~/css/adminResponsive.css?v={0}",DateTime.Now.Ticks))">
	<link rel="stylesheet" href="@Url.Content("~/css/responsive.css")">
	<link rel="stylesheet" href="@Url.Content(string.Format("http://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css?v={0}", DateTime.Now.AddYears(1)))">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@4.4.1/dist/js/swiper.min.js">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="left-sidebar">
			<div class="dashboard-logo">
				<a href="#">
					<img src="@Url.Content("~/img/logo_dashboard.png")" alt="Logo Image" class="img-fluid logo-with-text">
					<img src="@Url.Content("~/img/logo-icon.png")" alt="Logo Image" class="img-fluid logo-icon">
				</a>
			</div>
			@{
				if (User.IsInRole(GetDescription(Role.ADMIN)))
				{
					await Html.RenderPartialAsync("_internalmenus");
				}
				else //if (User.IsInRole(GetDescription(Role.USER)) || User.IsInRole(GetDescription(Role.MEMBERSHIP)) || User.IsInRole(GetDescription(Role.TOUROPERATOR)) || User.IsInRole(GetDescription(Role.SCHOOL)) || User.IsInRole(GetDescription(Role.DEPUTYGENERALMANAGER)) || User.IsInRole(GetDescription(Role.ASSISTANEESTATEOFFICER)))
				{
					await Html.RenderPartialAsync("_userinternalmenus");
				}
			}
			<p class="text-center"><small>Copyright &#169; 2018 ScienceCity.com</small></p>
		</div>
		<div class="right-side-panel">
			<header class="fixed-top bg-dark">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<a href="javascript:void(0);" class="toggle-sidebar rounded d-none d-sm-block">
								<i class="icon icon-menu"></i>
							</a>
							@*<div class="search-box d-none d-lg-block">
									<input type="search" class="form-control" placeholder="Search Here...">
									<i class="fa fa-search"></i>
								</div>*@
							<ul class="float-right mb-0 p-0">
								@*<li class="messages  d-none d-sm-block">
										<a href="#">
											<i class="icon icon-email-ico"></i>
										</a>
										<span>10</span>
									</li>
									<li class="notifications  d-none d-sm-block">
										<a href="#">
											<i class="icon icon-alert-ico"></i>
										</a>
										<span>10</span>
									</li>*@
								@{await Html.RenderPartialAsync("_profile"); }
							</ul>
						</div>
					</div>
				</div>
			</header>
			<div class="row body-content-wrap pt-5 mt-3">
				<div class="container-fluid pt-2 pb-3">
					@RenderBody()
				</div>
			</div>
		</div>
		<script>
			var thirdparty = '@GetDescription(Role.SOUVENIRSHOP).ToUpper()'
			var Media='@GetDescription(Role.GENERALIST).ToUpper()'
		</script>
		<script src="@Url.Content("~/js/jquery.min.js")"></script>
		<script src="@Url.Content("~/js/popper.min.js")"></script>
		<script src="@Url.Content("~/js/bootstrap.min.js")"></script>
		<script src="@Url.Content("~/js/sidebar-menu.js")"></script>
		<script src="~/js/nicescroll.min.js"></script>
		<script src="@Url.Content("~/js/Chart.js")"></script>
		<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js?v=1.4"></script>
		<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js?v=1.1"></script>
		<script src="@Url.Content("~/js/Adminscript.js")"></script>
		<script src="@Url.Content("~/js/ajax.js")"></script>
		<script src="@Url.Content("~/js/country.js")"></script>

		<script src="@Url.Content("~/js/custom.js")"></script>
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	</div>
	<div class="loader">
		<img src="~/img/scienceCity.gif" />
	</div>

</body>
</html>
